{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="newpost-form">
            <form class="form-group" enctype= multipart/form-data method="post">
                {% csrf_token %}
                {{new_post_form}}
                <input class="btn btn-primary" type="submit" value="Post">
            </form> 
        </div>
    {% endif %}

    
    <div id="profile">
    {%if user.is_authenticated%}
        <div id="profile-banner">
            <img src="{{profile.profile_picture.url}}" alt="">
            <h3>{{user.username}}</h3>
            <div>
                <p>Following {{profile.number_followed}}</p>
                <p>Followers {{profile.number_of_followers}}</p>
            </div>
            <button class="btn btn-light">Follow</button>
        </div>
        <div id="profile-about">
            <p>{{profile.about}}</p>
        </div>

        <ul class="posts list-group">
        {% for post in  profile.ordered_posts%}
            <li class="post list-group-item">
                <h4>{{user.username}}</h4>
            {% if post.media %}
                <img class= "post-media" src={{post.media.url}}></img>
            {% endif %}
                <p>{{post.content}}</p>
                <p>{{post.timestamp}}</p>
            </li>
        {% endfor %}
        </ul>
    {%endif%}
    </div>

    <ul class="posts list-group" id="allposts">
    </ul>

    <div id="following">
    </div>

{% endblock %}