{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="newpost-form">
            <form enctype= multipart/form-data method="post">
                {% csrf_token %}
                {{new_post_form}}
                <input type="submit" value="Post">
            </form> 
        </div>
    {% endif %}

    <div id="home">    
    </div>

    <div id="profile">
    </div>

    <div id="allposts">
    </div>

    <div id="following">
    </div>

{% endblock %}