{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="newpost-form">
            <form enctype= multipart/form-data method="post">
                {% csrf_token %}
                {{new_post_form}}
                <input type="submit" value="Post">
            </form> 
        </div>
    {% endif %}

    <div id="profile">
    {%if user.is_authenticated%}
        <div id="profile-banner">
            <img src="{{profile.profile_picture.url}}" alt="">
            <h3>{{user.username}}</h3>
            <div>
                <p>Following {{profile.number_followed}}</p>
                <p>Followers {{profile.number_of_followers}}</p>
            </div>
            
        </div>
        <div id="profile-about">
            <p>{{profile.about}}</p>
        </div>
    {%endif%}
    </div>

    <div id="allposts">
    </div>

    <div id="following">
    </div>

{% endblock %}