#newpost-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#newpost-form form {
    grid-column: 2 / span 1;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post {
    grid-column: 2 / span 1;
    margin: 10px;
}

.post-media {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

#profile-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#profile-banner img{
    grid-template-columns: 1 / span 1;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#profile-banner h3{
    grid-template-columns: 2 / span 1;
}

#profile-banner div {
    grid-template-columns: 3 / span 1
}

#profile-banner *{
    padding: 10px;
    margin: 10px;
}
