#newpost-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#newpost-form form {
    grid-column: 2 / span 1;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post {
    grid-column: 2 / span 1;
    margin: 10px;
}

.post-media {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

#profile-banner {
    display: grid;
    width: 50vw;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

    #profile-picture {
        grid-area: 2 / 1 / span 1 / span 2;
    }

        #profile-picture img{
            max-width: 100%;
            object-fit: cover;
        }

    #profile-banner button{
        grid-area: 1 / 1 / span 1 / span 1;
        height: min-content;
    }

    #profile-info {
        grid-area: 2 / 3 / span 1 / span 2;
    }


    #followers, #following {
        grid-area: 3 / 1 / span 1 / span 2;
    }

    #profile-banner *{
        padding: 10px;
        margin: 10px;
    }

.clickable {
    cursor: pointer;
}